body {
    background-color: lightgrey
}

h1 {color:black;
    font-family:Arial;
    font-size: 50px; 
    text-align: center;
    margin-top: 10px;
    padding-top:10px;
}


#warm {
    color: orangered;
    font-family: serif;
    text-align: left;
    margin-left:30px;
}

#kalt {
    color:deepskyblue;
    font-family: serif;
    margin-left:30px;
}
.img {
    height:auto;
    width: auto;
}



.table {
    font-size: 1.5em;
    text-align: center;
    border: 6px solid white;
    border-radius: 6px;
    border-style: groove;
    border-collapse: collapse;
    margin: auto;

}

.imgmain {
    height: 200px;
    width: 500px;
}

.seite {
    height: 40px;
    width: 200px;
    margin-left: -60px;
    text-align: right;
    border: 2px solid black;
    background-color: darkgrey; 
    position: fixed;

}

.seitenlink {
    text-decoration:none;
    font-family: sans-serif;
    color: black;
}
.seite>a:hover {
    color: slategrey;
}
#header {
    height: 5em;
    background-color: burlywood;
    border-radius: 7px;
}
.mainbox {
    background-color: bisque;
    display:inline-block;
    width: auto;
    height: auto;
    border-radius: 10px;
    float: left;
    clear: both;
    
}
.mainbox2 {
    background-color: bisque;
    display: inline-block;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 10px;
    float:right;
    margin-right: 100px;
    display: 
}

.ul {
    text-align: left;
    height: auto;
    width: auto;
}
.ol {
    font-size: 1.5em;
    text-align: left;
    height: 1 em;
    width: auto;
    text-align: left;
    margin-left: 30px;
}

.imgtable {
    height: 50px;
    width 50px;
}

.footer {
    clear: both;
	position: relative;

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #3c4543;
}
.footer>p {
    display: inline-block;
    color: aquamarine;
    font-size: 2em;
    margin: 15px 120px 10px 120px;
    
}
.footer>p:hover {
    color: white;
}


.lkalt {
    height: 80px;
    width: 80px;
    border: 2px solid white;
    background-color: deepskyblue;
    border-radius: 100%;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px; 
    text-align: center;
    line-height: 80px;
}

.lwarm {
    height: 80px;
    width: 80px;
    border: 2px solid white;
    background-color: darkorange;
    border-radius: 100%;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    line-height: 80px;
    
}

.lkalt>a {
    text-decoration: none;
    color: black;
    text-align: center; 
}

.lwarm>a {
    text-decoration: none;
    color: black;
    text-align: center;

}

.lwarm:hover {
    background-color: yellow;
}

.lkalt:hover {
    background-color: dodgerblue;
}


#hh {
    font-size: 2em;
    font-family: Arial;
    clear: both;
}

td {
    border: 1px solid white;
}

th {
    border: 1px solid white;
}



