
body {
    padding: 15px;
    background-image: url(../images/polyearth.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
    }


#header {
    height: 25%;
    border: 1px solid white;
    
}
#headline1 {
    color: white;
    font: 5em 'Lobster Two', Helvetica, sans-serif;
    text-align:center;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

#map {
    width: 95%;
    height: 100%;
    margin: 0% auto 2% 5%;
    
    }  

.box {
    width: 30%;
    height: 100%;
    display: table-cell;
    border: 1px solid white;
    margin: 2% 0.5% 2% 0.5%;
    color: black;
    text-align:justify;
    font-family:serif;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:6%;
    padding:1%;
}

.box2 {
    width: 30%;
    height: 100%;
    display: table-cell;
    border: 1px solid white;
    margin: 2% 0.25% 2% 0.25%;
    color: black;
    text-align:justify;
    font-family: serif;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:6%;
    padding:1%;
}


#boxborder {
    height: auto;
    margin:auto;
    display: table-row;
    
    
}

#mapborder {
    height:500px;
    margin: auto;
    border: 1px transparent white;
    
}

#socialborder {
    height:500px;
    margin: auto;
    border: 1px transparent white;
    
}

.arrow {
    display: block;
    margin: 5em auto 30% auto;
    height:5%;
    width:5%;
    
}

.arrow:hover {
    opacity:0.5;
    display: block;
    margin: 5em auto 25% auto;
    height:5%;
    width:5%;
}

#footer {
    height: 2.5em;
    font-size: 1em;
    color:white;
    font-family:serif;
    margin:2em auto auto auto;
    vertical-align: middle;
    text-align: center;
    clear: both;
    text-decoration: none;
}


#start {
    float: left;
    display:block;
    border-radius: 100%;
    background-color: white;
    height: 2.5em;
    width: 2.5em;
    border: 2px solid white;
    font-size: 1em;
    text-align: center;
    line-height: 2.5em;
    color: cadetblue;
    font-family:'Lobster Two',serif;
    position: fixed;
    opacity:0.5;
    text-decoration:none;
    margin-top: 37%;
    
}

#main {
    float: left;
    display:block;
    border-radius: 100%;
    background-color: white;
    height: 2.5em;
    width: 2.5em;
    border: 2px solid white;
    font-size: 1em;
    text-align: center;
    line-height: 2.5em;
    color: cadetblue;
    font-family:'Lobster Two',serif;
    position: fixed;
    opacity:0.5;
    text-decoration:none;
    margin-top:42%;
}
#footprint {
    float: left;
    display:block;
    border-radius: 100%;
    background-color: white;
    height: 2.5em;
    width: 2.5em;
    border: 2px solid white;
    font-size: 1em;
    text-align: center;
    line-height: 2.5em;
    color: cadetblue;
    font-family:'Lobster Two',serif;
    position: fixed;
    opacity:0.5;
    text-decoration:none;
    margin-top:47%;
}

#text {
    color: white;
    font: 1.5em 'Lobster Two', Helvetica, sans-serif;
    margin-left: 2.5em;
    
}

.icon {
    height: 2em;
    width: 2em;
    align-self:auto;
    vertical-align: middle;
}

.icon2 {
    height: 1.5em;
    width: 1.5em;
    align-self:auto;
    vertical-align: middle;
}

h2 {
    color: white;
    font: 2em 'Lobster Two', Helvetica, sans-serif;
    margin-left: 2.5em;
}

h3 {
    font: 1.5em 'Lobster Two', Helvetica, sans-serif;
}

h4 {
    color: white;
    font: 2.5em 'Lobster Two', Helvetica, sans-serif;
    text-align:center;
    margin-top: 0.4em;
    
}  

.big {
    font: 4em 'Lobster Two', Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    text-decoration-color: black;
    color: black;
    line-height: 100%;
}

#halfbox1 {
    width: calc(100% - 400px);
    height: 45%;
    border: 5px solid white;
    color: black;
    text-align:center;
    vertical-align: center;
    font-family:serif;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10% 10% 10% 10%;
    margin-right:5%;
    margin-top:10%;
}

#halfbox2 {
    width: calc(100% - 400px);
    height: 45%;
    border: 5px solid white;
    color: black;
    text-align:center;
    vertical-align: center;
    font-family:serif;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10% 10% 10% 10%;
    margin-top: 10%;

}

#container {
    display:flex;
    
    
}