
body {
    padding: 15px;
    background-image: url(../images/polyearth.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
    }


#header {
    border: 1px solid white;
    line-height:6em;
    vertical-align: middle;
    
}
#headline1 {
    color: white;
    font: 3em 'Lobster Two', Helvetica, sans-serif;
    text-align:center;
}

 

.box {
    width: 30%;
    height: 100%;
    display: table-cell;
    border: 1px solid white;
    margin: 2% 0.5% 2% 0.5%;
    color: black;
    text-align:justify;
    font-family:serif;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:6%;
    padding:1%;
}

.article {
    float: left;
    width: 27%;
    padding: 10px;
    text-align:center;
    font-family:serif;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:6%;
    padding:1%;
    margin-left: 3%;
    margin-top: 3%;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.placeholder {
    height: 150px;
    width: 150px;
    margin: auto;
    
}

.artitle {
    color: black;
    font: serif;
}

.menu {
    height: 10%;
    border: 1px solid white;    
}

.menucell {
    float: left;
    width: 23%;
    height: 3em;
    margin-left:1%;
    line-height: 2em;
    vertical-align:middle;
    text-align: center;
    text-decoration: none;
    color: white; 
    border: 1px white solid;
    border-radius: 5%
}

.menulink {
    color: white;
    text-decoration: none;
    font: 2em 'Lobster Two', Helvetica, sans-serif;;
    
}

.arrow {
    display: block;
    margin: 5em auto 30% auto;
    height:5%;
    width:5%;
    
}

.arrow:hover {
    opacity:0.5;
    display: block;
    margin: 5em auto 25% auto;
    height:5%;
    width:5%;
}

#footer {
    height: 2.5em;
    font-size: 1em;
    color:white;
    font-family:serif;
    margin:2em auto auto auto;
    vertical-align: middle;
    text-align: center;
    clear: both;
    text-decoration: none;
}


#start {
    float: left;
    display:block;
    border-radius: 100%;
    background-color: white;
    height: 2.5em;
    width: 2.5em;
    border: 2px solid white;
    font-size: 1em;
    text-align: center;
    line-height: 2.5em;
    color: cadetblue;
    font-family:'Lobster Two',serif;
    position: fixed;
    opacity:0.5;
    text-decoration:none;
    margin-top: 37%;
    
}

#main {
    float: left;
    display:block;
    border-radius: 100%;
    background-color: white;
    height: 2.5em;
    width: 2.5em;
    border: 2px solid white;
    font-size: 1em;
    text-align: center;
    line-height: 2.5em;
    color: cadetblue;
    font-family:'Lobster Two',serif;
    position: fixed;
    opacity:0.5;
    text-decoration:none;
    margin-top:42%;
}
#footprint {
    float: left;
    display:block;
    border-radius: 100%;
    background-color: white;
    height: 2.5em;
    width: 2.5em;
    border: 2px solid white;
    font-size: 1em;
    text-align: center;
    line-height: 2.5em;
    color: cadetblue;
    font-family:'Lobster Two',serif;
    position: fixed;
    opacity:0.5;
    text-decoration:none;
    margin-top:47%;
}

#text {
    color: white;
    font: 1.5em 'Lobster Two', Helvetica, sans-serif;
    margin-left: 2.5em;
    
}

.icon {
    height: 2em;
    width: 2em;
    align-self:auto;
    vertical-align: middle;
}

.icon2 {
    height: 1.5em;
    width: 1.5em;
    align-self:auto;
    vertical-align: middle;
}

h2 {
    color: white;
    font: 2em 'Lobster Two', Helvetica, sans-serif;
    margin-left: 2.5em;
}

h3 {
    font: 1.5em 'Lobster Two', Helvetica, sans-serif;
}

h4 {
    color: white;
    font: 2.5em 'Lobster Two', Helvetica, sans-serif;
    text-align:center;
    margin-top: 0.4em;
    
}  

.big {
    font: 4em 'Lobster Two', Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    text-decoration-color: black;
    color: black;
    line-height: 100%;
}


#container {
    display:flex;
    
    
}